{{ define "index" }}

<div id="sider">
  <h1>
    LeetCode Daily
  </h1>
</div>

<div id="divider-before-content" class="divider"></div>

<div id="content">
  {{ range . }}
  <div>
    {{ $year := . }}

    {{ range .Months }}
    <div>
      <h3>
        <a href="{{ $year.Path }}">{{ $year.Idx }}</a>
        · <a href="{{ .Path }}">{{ .Idx }}</a>
      </h3>

      <ul>
        {{ range .Days }}
        <li>
          <a href="{{ .Path }}">{{ .Idx }}: {{ .ItemInfo.Question.Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>



{{ end }}